.navbar-inverse {
    background-color: #27b366;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #218c51;
}

.progress-bar{
	background-color: #25b767;
}

.progress-bar-danger {
    background-color: #e74c3c;
}

.progress-bar-warning {
    background-color: #f39c12;
}
#cumulativebar .cumulativeelement {
	background-color: #4fa4ff;	
}