.trashmap{
	height: 60vh;	
}

.theme-showcase{
	padding-top: 5em;
}

.wellimage{
	width: 100%;
	padding-top: 30px;
 	padding-bottom: 10px;
	
}


.cumulativeelement{
	  border-left-style: solid;
    border-left-width: 1px;
    border-color: rgba(71, 0, 255, 0.49);
}